body {
    background-color: #c9caca;
}

.dot {
    width: 4px;
    height: 4px;
    margin-top: 2px;
    margin-left: 55px;
    border-radius: 50%;
    background-color: rgb(99, 98, 98);
    position: relative;
}